:root {
    --primary-color: #003580;
    --secondary-color: #0071c2;
    --third-color: #008009;
    --text-color: #efefef;
}

.no-calendar-icon::-webkit-calendar-picker-indicator,
.no-calendar-icon::-webkit-inner-spin-button,
.no-calendar-icon::-webkit-clear-button {
    display: none;
}

* {
    user-select: none;
}

.container {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
}

/* btn */
.btn {
    padding: 8px;
    font-size: 14px;
    border: none;
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.btn-secondary {
    color: var(--primary-color);
    background-color: #efefef;
}

.btn-primary {
    color: #efefef;
    background-color: var(--secondary-color);
}

.btn-br {
    border-radius: 4px;
}

.btn-big {
    padding: 12px 32px;
}

.btn-fullwidth {
    width: 100%;
}

/* font-weight */

.fw-6 {
    font-weight: 600;
}
